---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {% for category in site.categories %}
    <li>
      <h3><a name="{{ category | first }}">{{ category | first }}<h3></a>
        <ul>
          {% for post in category.last %}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <a class="post-link" href="{{ post.url | relative_url }}">
              <h6>
                {{ post.title | escape }}
              </h6>
            </a>
            <span class="post-meta"> {% post.excerpt -%}</span>
          </li>
          {% endfor %}
        </ul>
    </li>
    {% endfor %}
  </ul>
  {%- endif -%}

</div>